@model QandA_MVC.Models.QuestionData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuestionData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created)
        </dd>
        @foreach( var item in Model.Answers)
        {
           <table>
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            
            <td>
                <button ></button>
               <a type="button" class="btn btn-primary" href="@Url.Action("Edit",new { id=Model} )"><i class="fa-solid fa-pen-to-square"></i></a>
                @Html.ActionLink("Details", "Details", new {  id=item.AnswerID  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.AnswerID   })
            </td>
        </tr>
           </table>
        }

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
